<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/scanticket</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/movie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/dashboard/manageuser.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/showtiming</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/filter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/showtimeControl</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/addNewShowtime</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/showtimeControl</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/updateShowtime</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/revenue/film</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/revenue/concession</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/concession</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/control</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/search</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminSearchFilter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/searchAccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/dashboard/userdetail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/views/dashboard/OrderDetail.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>controller.SeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimingServlet</servlet-name>
        <servlet-class>controller.ShowtimingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>controller.admin.concession.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieControllerForUser</servlet-name>
        <servlet-class>controller.MovieControllerForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.admin.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcessionBooking</servlet-name>
        <servlet-class>controller.ConcessionBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMovieServlet</servlet-name>
        <servlet-class>controller.ListMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComingSoonServlet</servlet-name>
        <servlet-class>controller.ComingSoonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>payment.paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>payment.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentReturn</servlet-name>
        <servlet-class>payment.paymentReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTicket</servlet-name>
        <servlet-class>controller.ShowTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtimeController</servlet-name>
        <servlet-class>controller.ShowtimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewShowtimeServlet</servlet-name>
        <servlet-class>controller.AddNewShowtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateQR</servlet-name>
        <servlet-class>qrcode.generateQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>controller.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueFilmServlet</servlet-name>
        <servlet-class>controller.admin.dashboard.RevenueFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueConcessionServlet</servlet-name>
        <servlet-class>controller.admin.dashboard.RevenueConcessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopMovieServlet</servlet-name>
        <servlet-class>controller.TopMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDetailServlet</servlet-name>
        <servlet-class>controller.MovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieTrailerServlet</servlet-name>
        <servlet-class>controller.MovieTrailerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcessionServlet</servlet-name>
        <servlet-class>controller.ConcessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageConcessionServlet</servlet-name>
        <servlet-class>controller.admin.concession.ManageConcessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcessionControlServlet</servlet-name>
        <servlet-class>controller.admin.concession.ConcessionControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchConcession</servlet-name>
        <servlet-class>controller.admin.concession.SearchConcession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketServlet</servlet-name>
        <servlet-class>controller.BookTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearch_Filter</servlet-name>
        <servlet-class>controller.AdminSearch_Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScanTicketServlet</servlet-name>
        <servlet-class>controller.ScanTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>HotFilmController</servlet-name>
        <servlet-class>controller.HotFilmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movieController</servlet-name>
        <servlet-class>controller.movieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimingServlet</servlet-name>
        <url-pattern>/showtiming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/admin/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieControllerForUser</servlet-name>
        <url-pattern>/movieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcessionBooking</servlet-name>
        <url-pattern>/ConcessionBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMovieServlet</servlet-name>
        <url-pattern>/listmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComingSoonServlet</servlet-name>
        <url-pattern>/comingsoon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentReturn</servlet-name>
        <url-pattern>/paymentReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueFilmServlet</servlet-name>
        <url-pattern>/revenue/film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueConcessionServlet</servlet-name>
        <url-pattern>/revenue/concession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTicket</servlet-name>
        <url-pattern>/ShowTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowtimeController</servlet-name>
        <url-pattern>/showtimeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewShowtimeServlet</servlet-name>
        <url-pattern>/addNewShowtime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateQR</servlet-name>
        <url-pattern>/generateQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/OrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopMovieServlet</servlet-name>
        <url-pattern>/topMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDetailServlet</servlet-name>
        <url-pattern>/moviedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieTrailerServlet</servlet-name>
        <url-pattern>/movietrailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcessionServlet</servlet-name>
        <url-pattern>/concession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageConcessionServlet</servlet-name>
        <url-pattern>/admin/concession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcessionControlServlet</servlet-name>
        <url-pattern>/admin/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchConcession</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketServlet</servlet-name>
        <url-pattern>/bookticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearch_Filter</servlet-name>
        <url-pattern>/AdminSearchFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScanTicketServlet</servlet-name>
        <url-pattern>/scanticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/views/dashboard/adduser</url-pattern>
    </servlet-mapping>
    <!-- Filter Definition -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>HotFilmController</servlet-name>
        <url-pattern>/hotfilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movieController</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>